.pagination{
    display: flex;
    margin: 5% 30%;
}

.page-item{
    margin: 4%;
}

.page-item a{
    text-decoration: none;
    color: green;
    padding: 90%;
}
.page-item a:hover{
    color: rgb(6, 51, 21);
    font-weight: bold;
   
}

.page-item a:focus{
    color: white;
    background: rgb(27, 54, 16);
    font-weight: bold;
}

