.pagination{
    display: flex;
    margin: 5% 30%;
}

.pageItem{
    margin: 4%;
}

.pageItem a{
    text-decoration: none;
    color: green;
    padding: 90%;
}
.pageItem a:hover{
    color: rgb(6, 51, 21);
    font-weight: bold;
   
}

.pageItem a:focus{
    color: white;
    background: rgb(27, 54, 16);
    font-weight: bold;
}

